accelerate
torchattacks
advex_uar==0.0.6.dev0
git+https://github.com/fra31/auto-attack.git
bitsandbytes==0.42.0
colorama==0.4.6
datasets==2.19.1
deeplake
diffusers==0.30.3
lpips==0.1.4
matplotlib==3.6.3
numpy==1.24.4
opencv_python==4.9.0.80
packaging==25.0
pandas==1.5.3
peft
Pillow==11.2.1
safetensors==0.5.3
torch==2.4.0
torcheval==0.0.7
torchmetrics==0.6.0
torchvision==0.19.0
tqdm>=4.62.1
transformers
xformers==0.0.27.post2
